<div class="HeaderCover">

    <video  class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708456517/zpkyst6wphvjtaagc2vf.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>


    <video class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708450101/rxqkzmimfl9cklcfjruy.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>

    
    <video class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708450108/dqnvyuc1idtlwdtwpmas.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
    
    <video class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708450111/eex3ninnadt9qithiipf.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>

    <video class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708450108/rxtop6mhlwqwhyde57x2.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>

    <video class="cardVideoElement" controls>
        <source src="https://res.cloudinary.com/dbxohjdng/video/upload/v1708450103/muq5dzrbldjv6uk9spfu.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
    

</div>
<style>
    .cardVideoElement{
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 1rem;
    }
</style>